body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

.col-fourth {
  width: 25%;
}

.one-third-width {
  width: 33%;
}

.full-width {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 800;
}

.padding {
  padding: 20px;
}

.border-box {
  box-sizing: border-box;
}

.content.box {
  box-sizing: content-box;
}

h2 {
  font-size: 18px;
}

h1 {
  font-size: 26px;
}
