div.container {
  max-width: 800px;
  margin: auto;
  font-family: sans-serif;
}

div.row {
  display: flex;
}

h1,
h2 {
  font-weight: bold;
}

.column-one-fourth {
  width: calc(800px / 4);
}

.column-one-third {
  width: calc(800px / 3);
}

.column-two-third {
  width: calc(2 * 800px / 3);
}
