body {
  font-family: sans-serif;
}

.container {
  margin: auto;
  max-width: 1400px;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

.col-fifth {
  width: 20%;
}

.text-center {
  text-align: center;
}

.contain {
  object-fit: contain;
}

.resize {
  width: 250px;
  height: 400px;
}

.center-content {
  margin: auto;
}

span {
  color: rgb(218 218 218);
}

.left-divider {
  border-left: 1px solid rgb(218 218 218);
}
