.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 50%));
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 25px;
  z-index: auto;
}

.layer-element {
  top: 150px;
  right: 40%;
  left: 10%;
}

.quote {
  font-family: "Tiempos Headline", serif;
  font-style: italic;
}

.middle-link {
  font-size: 13px;
  color: rgb(55 124 173);
}
