input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(177 177 177);
}

.heading-color {
  color: rgb(80 81 79);
}

.number-color {
  color: rgb(10 71 111);
}
